
        
        h1 {
            color: black
            font-family: "Copperplate", Copperplate, Fantasy;
}  
        
            
         body {background-image: url("myBackground_1.jpg") ;
}


        #Banner { margin-top: 50px;
                  margin-bottom: 50px;
                  margin-right: 50px;
                  margin-left: 50px; 
                float: left;
}




        #Mountains { float: left;
            margin-right: 6px;
            margin-bottom: 6px; 
}




        #KB {  margin-top: 50px;
                 margin-bottom: 50px;
                 margin-right: 50px;
                 margin-left: 50px;
                float: right;
}



        #Beach {float: right;
            margin-right: 40px;
            margin-bottom: 6px;
}



        #Table { width:5%;
                border-spacing: 1px;
                border: 1px solid black;
}


        
