
        
        h1 {
            color: blue;
        }  
        
            
         body {background-image: url("myBackground_1.jpg") ;
                }


        #banner { margin-top: 100px;
                  margin-bottom: 100px;
                  margin-right: 150px;
                  margin-left: 90px; 
                }
