
        
        h1 {
            color: black;
        }  
        
            
         body {background-image: url("myBackground_1.jpg") ;
                }


        #Banner { margin-top: 110px;
                  margin-bottom: 110px;
                  margin-right: 150px;
                  margin-left: 150px; 
                }
